## Q2. Statistics on students (25 marks)

### Data description

In this question, we will work on the `lse_students.csv` in the data folder which contains the number of undergraduate students by programme scrapped from Table C of https://info.lse.ac.uk/staff/divisions/Planning-Division/Management-Information/Statistics-on-Students.


The table has the following columns:
* `programme`: the programme that the students were in
* `year`: year of study. Possible values: '1st Year', '2nd Year', '3rd Year', 'Final Year', 'Subsequent Years'
* `2018`: number of students in the year 2018/19
* `2019`: number of students in the year 2019/20
* `2020`: number of students in the year 2020/21
* `2021`: number of students in the year 2021/22
* `2022`: number of students in the year 2022/23

Note: If there is any discrepancy between the given CSV file and Table C from the given link, please use the numbers from the given CSV file and assume the given data is correct.

---

### Instructions

Using `pandas` functionality only, answer the questions below:

1. (2 marks) Load in the data to a `pandas` data frame

In [1]:
import pandas as pd

df = pd.read_csv('../data/lse_students.csv')

2. (4 marks) If there is na data in the data frame from part [1] for the number of students, fill them by 0. Ensure the number of students in the resulting data frame is integer, not float
    * Note: you may want to search online to find out how to fill in na data

In [5]:
df = df.fillna(0)
df[['2018','2019','2020','2021','2022']].astype(int)

     2018  2019  2020  2021  2022
0     147   116   144   116   113
1     126   152   120   150   122
2     138   117   148   121   139
3      72    77    74    81    85
4      68    68    76    71    71
..    ...   ...   ...   ...   ...
133    38    37    58    53    51
134    47    40    39    59    50
135    31    46    36    40    56
136     3     0     0     0     0
137    17     4     0     0     0

[138 rows x 5 columns]

Please use the data frame from part [2] and `pandas` functionality to answer the remaining questions:

3. (3 marks) How many 1st year students were in "BSc in Accounting and Finance" in 2022/23?

In [6]:
print(df[(df['programme']=='BSc in Accounting and Finance') & (df['year']=='1st Year')]['2022'].values[0])

113

4. (4 marks) How many 1st year UG students were there in 2022/23?

In [7]:
print(sum(df[(df['year']=='1st Year')]['2022']))

2079

5. (6 marks) What are the top 5 programmes that have the most number of undergraduate students in 2022/23? Hint:
    * (a) use `groupby()` on the data frame to calculate the sum of the number of students per programme over years of study in a particular year 
    * (b) sort the result from (a) in descending order by using `sort_values()` and keep the first 5 rows

In [8]:
grouped = df.groupby('programme')['2022'].sum()
top_5 = grouped.sort_values(ascending=False).head(5)
print(top_5)

programme
BSc in Economics                    716
LLB in Laws                         552
BSc in Management                   516
BSc in Accounting and Finance       374
BSc in Mathematics and Economics    221
Name: 2022, dtype: int64

6. (6 marks) Which programmes were launched in 2021/22 or 2022/23?

In [10]:
launched = df[(df['year']=='1st Year')&(((df['2020']==0) & (df['2021']!=0)) | ((df['2021']==0) & (df['2022']!=0)))]

#formatted simply
print(launched['programme'])

#formatted nicely
print(f"\nThe programmes that were launched in 2021/22 or 2022/23 are {launched['programme'].iloc[0]}, "\
      f"{launched['programme'].iloc[1]}, and {launched['programme'].iloc[2]}")

11                 BSc in Data Science
53         BSc in History and Politics
99    BSc in Politics and Data Science
Name: programme, dtype: object

The programmes that were launched in 2021/22 or 2022/23 are BSc in Data Science, BSc in History and Politics, and BSc in Politics and Data Science

If you have made any assumptions when answering the questions, please state them as well (in markdown cells).

---

### Note

* You need to use `pandas` functions or methods to do most (if not all) of the data cleaning and data analysis to answer the questions. Essentially, you cannot use "eyeballing", or Excel to get the answers (You are welcome to use them to _verify_ your result though)
* Your code should be vectorised and you should avoid using loops if possible
* You can use any functions or methods from `pandas`. You can also search online as much as you want for this question related to `pandas` (e.g. find out how to use `groupby()` or `sort_values()`). _However_, if you are referencing other people's code/answer/logic, please state it in your answer
* Please make good use of the markdown cells for textual answers, all the outputs (e.g. tables) _must be displayed_ in the Jupyter Notebook
    * Feel free to add more code cells or markdown cells if you want to